body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #2e2e2e;
    animation: fadeIn 1s ease-in-out;

}




button {
    background-color: #da7f09;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.6rem 1rem;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #d6d6d6;
    
}

button:focus {
    outline: none;
}




.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #4b4b4b;
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(27, 31, 35, 0.1);
    padding: 20px;
    animation: fadeInUp 1s ease-in-out;

}

.container h2 {
    background-color: #242424;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0;
    width: calc(100% - 2rem);
}

.container p {
    color: rgb(221, 221, 221);
    font-size: 18px;
    margin-left: 1rem;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);

}


/*======================================================================*/



.social-icons {
    margin-left: 10px;
    display: flex;
    margin-top: 1rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0
}

.social-icons .social-icon {
    display: inline-flex;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    color: #272727;
    border-radius: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons .social-icon:hover {
    color: #da7f09;
    transform: scale(1.1);
}

/*======================================================================*/
/* Hardening */
.note-card {
    background-color: #3d3d3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    color: #ffffff;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.note-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.note-card button {
    background-color: #da7f09;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.6rem 1rem;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.note-card button:hover {
    background-color: #d6d6d6;
    transform: scale(1.05);
}

.note-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}


/*======================================================================*/
/* Comandos */

.note-card2 {
    background-color: #3d3d3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    margin: 0.7rem;
    text-align: left;
    transition: transform 0.3s ease;
}

.note-card2 h1 {
    margin-left: 1.9rem;
    font-size: 1.5rem;
    color: #da7f09;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.note-card2 h3 {
    margin-left: 1rem;
    font-size: 1.25rem;
    color: #e7e7e7;
}

.note-card2 strong {
    font-size: 15px;
    color: #797979;
}


.note-card2 p {
    font-size: 15px;
    color: #e7e7e7;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-left: 1.9rem;

}

.note-card2 a {
    color: #00d9ff;
    text-decoration: none;
}

.note-list2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.note-card2 p:first-of-type {
    margin-top: 1.2rem;
}

.note-card2 p:last-of-type {
    margin-bottom: 1.2rem;
}


/*======================================================================*/



  /* Estilo para a lista de notas (note-list3) */
  .note-list3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para os cartões de notas (note-card3) */
.note-card3 {
    background-color: #3d3d3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    color: #ffffff;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.note-card3 h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.note-card3 button {
    background-color: #da7f09;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.6rem 1rem;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.note-card3 button:hover {
    background-color: #d6d6d6;
    transform: scale(1.05);
}

.note-card3:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/*======================================================================*/




.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f1f1f;
    color: white;
    padding-top: 2rem;
    width: 250px;
    height: 100%;
    transition: all 0.3s ease;
    z-index: 999;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 1rem;
    text-align: center;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    text-align: center;
    animation: fadeInUp 0.5s ease-in-out;
}

.sidebar nav ul li a:hover {
    background-color: #da7f09;
    padding: 0.5rem;
    border-radius: 5px;
}


.sidebar {
    left: -250px;
}

.sidebar.open {
    left: 0;
}

/*======================================================================*/

.menu-hamburguer .bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #e2e2e2;
    margin: 6px 0;
    transition: 0.3s;
}

.menu-hamburguer:hover .bar {
    background-color: #555;
}

.menu-hamburguer {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
}

.menu-hamburguer div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.menu-hamburguer {
    display: block;
}

/*======================================================================*/
.section {
    margin-top: 20px;
    border: 1px solid #d8dee4;
    border-radius: 6px;
    padding: 15px;
    background-color: #f6f8fa;
    animation: fadeInUp 1s ease-in-out;
}

.section h2 {
    margin-top: 0;
    font-size: 20px;
    background-color: #ddf4ff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #b6e3ff;
    color: #da7f09;
    animation: fadeInUp 1s ease-in-out;
}


/*======================================================================*/

/* Mobile */

@media only screen and (max-width: 768px) {
    .menu-hamburguer .bar {
        display: block;
        width: 9px;
        height: 25px;
        background-color: #e2e2e2;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        margin-left: -15.45px;
        margin-top: 5.5px;
    }

    .menu-hamburguer:hover .bar {
        background-color: #555;
    }
}
@media (max-width: 768px) {
    .note-card {
        width: calc(90% - 1rem);
    }
    /* Adjust modal height */
    .modal {
    height: 80vh; /* Adjust this value as needed */
    overflow-y: auto;
}
}

@media (max-width: 480px) {
    .note-card {
        width: 100%;
    }
    /* Adjust modal height */
    .modal {
    height: 80vh; /* Adjust this value as needed */
    overflow-y: auto;
}
}

@media (max-width: 768px) {
    .note-card2 {
    width: auto;
    }
    .note-card2 p {
        font-size: 10px;
        word-wrap: break-word;

    }
}


@media (max-width: 768px) {
    .container {
        width: calc(100% - 10px);
        max-width: 100%;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .container {
        width: calc(100% - 10px);
        max-width: 100%;
        padding: 5px;
    }
}



/*======================================================================*/
/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animação de saída */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Animação de entrada */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação de entrada */
@keyframes slideIn {
    from {
        left: -250px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}
